@model Category

<form method="post">
	<h2 class="mb-4 mt-4">Edit Employee</h2>
	<div class="mb-3">
		@* <div asp-validation-summary="All" class="text-danger"></div> *@

		<label asp-for="Name" class="form-label">Employee Name</label>
		<input asp-for="Name" class="form-control">
		<span asp-validation-for="Name" class="text-danger"></span>

	</div>
	<div class="mb-3">
		<label asp-for="DisplayOrder" class="form-label"></label>
		<input asp-for="DisplayOrder" class="form-control">
		<span asp-validation-for="DisplayOrder" class="text-danger"></span>

	</div>
	<div class="mb-3">
		<label asp-for="Email" class="form-label"></label>
		<input asp-for="Email" class="form-control">
		<span asp-validation-for="Email" class="text-danger"></span>

	</div>
	<div class="mb-3">
		<label asp-for="BirthDate" class="form-label"></label>
		<input asp-for="BirthDate" class="form-control">
		<span asp-validation-for="BirthDate" class="text-danger"></span>

	</div>

	<button type="submit" class="btn btn-info">Update</button>
	<a asp-action="Index" type="submit" class="btn btn-warning">Back to List</a>

</form>

@section Scripts {

	@{
		<partial name="_ValidationScriptsPartial" />
	}

}