@model List<Category>



<div class="container">
	
	
	<div class="row pt-4 pb-2">
		<div class="col-6">
			<h4>Category List</h4>
		</div>
		
		<div class="col-6 text-end">
			<a class="btn btn-primary" asp-controller="Category" asp-action="Create">
				Add category
			</a>
		</div>
		
		
	</div>

	<table class="table table-striped">
		<thead>
		<tr>
			<th scope="col">Category Name</th>
			<th scope="col">Display Order</th>
	
		</tr>
		</thead>
		<tbody>

		@foreach (var obj in Model)
		{
			<tr>
			
				<td>@obj.Name</td>
				<td>@obj.DisplayOrder</td>
			</tr>
		}
		</tbody>
	</table>
	

</div>







